body {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* margin-top: 0px; */
}

header{
    height: 220px;
    background-image:url("../images/apples.jpg");
    /* image from https://www.downtownithaca.com/apple-festive/ */
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-color: #865656;

    /* margin-top: 0px; */
}
header p{
    font-size: 40px;
    text-align: center;
    color: white;
}

/* nav styles */
nav {
    font-family:sans-serif;
    background-color: #865656;
    font-weight: bold;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover{
    /* color: #033400; */
    border-style: solid;
    border-color: #fff;
}

nav ul {
    list-style-type: none;
    margin-top: -8px;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding: 0px;
}

nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

}
nav ul li a{
    /* border-style: solid; */
    /* border-color: #fff; */
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

/* heading */
h1{
    text-align: center;
    font-size: 35px;
}
h2{
    font-size: 30px;
    margin-bottom: -10px;
}
ul li{
    margin-left: 20px;
}
/* content */
div.content{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 1100px;
}
div.about, div.covidcon{
    display: flex;
    flex-direction: row;
}

div.covidcon img{
    margin-left: 40px;
    margin-top: 40px;
}
div.about img{
    margin-top: 90px;
    margin-left: 40px;
}


div.para{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 600px;
    margin-right: 100px;
}
div.centercont{
    font-size: 20px;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
ul li{
    font-size: 20px;
}

div.cite{
    font-size: 12px;
    color: gray;
}

div.cite p{
    display: inline-block;
    font-size: 12px;
    color: gray;
}
div.flexcolumn{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.simg{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
div.store{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-top: 15px;
 }

 div.raffleiimg{
     display: flex;
     flex-direction: row;
     margin-top: 15px;
     margin-top: 15px;
  }
h3 p{
     display: flex;
     flex-direction: column;
 }

div.store img{
    margin-left: 50px;
    margin-bottom: 70px;
}


/* RAFFLE CSS */
h1{
    margin-left: auto;
    margin-right: auto;
}
div#forms{
    margin-right: 160px;
}
abbr{
    color: red;
}

p.formfeedback{
    color:red;
    margin-bottom: 0;
    /* margin-left: 59px; */
    font-size: 15px;
}

.hidden{
    display: None;
}

p#raffle{
    font-size: 20px;
}

input#email {
    width: 300px;
    margin-left: 5px;
}

input#name{
    margin-left: 5px;
}

input#food{
    margin-left: 8px;
}

input#item{
    margin-left: 20px;
}

div.rowform{
    margin-top: 20px;
}

div#checkboxraf{
    display: flex;
    flex-direction: row;
}

div.rowalleform{
    margin-top: 20px;
    display: inline-block;
}
textarea#specify{
    /* display: block; */
    width: 370px;
}

input#enter{
    margin-top: 20px;
    margin-left: 270px;
}

div.areabox{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div.raffleimg{
   display: flex;
   flex-direction: row;
}
div.rafimg{
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}
div#radioboxraf{
    display: flex;
    flex-direction: row;
}

p#itemfeedback{
    margin-left: 0;
}
@media (max-width: 1100px) {

    div.centercont{
        width: 95%;
    }
    div.store img{
        margin-left: 40px;
        /* width: 500px; */
        height: 280px;
        /* max-width: 50%; */
    }
    div.simg{
        display: flex;
        flex-direction: row;
        /* flex-grow: 1; */
    }

    img{
        /* max-width: 50%; */
        margin-left: 10px;
    }
    div.content, div.covidcon{
      width: 95%;
    }
    div.para{
        margin-right: 10px;
    }
    div.flexcolumn{
        flex-grow: 2;
    }

    /* raffle css */
    div.rafimg{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-right: 0px;
    }

    div#forms{
        margin-right: 60px;
        margin-left: 30px;
    }
    input#name{
        width: 200px;
    }

    textarea#specify{
        /* display: block; */
        width: 300px;
    }
    input#enter{
        margin-left: 205px;
    }
    div.rowform{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    input#food{
        margin-left: 5px;
    }

    input#item{
        margin-left: 5px;
    }
    p.formfeedback{
        margin-left: 0;
    }
    div#radioboxraf{
        display: flex;
        flex-direction: column;
    }
    div#radioboxitem{
        display: flex;
        flex-direction: column;
    }
    div#checkboxraf{
        display: flex;
        flex-direction: column;
    }
}
/* 980 */
@media (max-width: 900px) {
    body {
        margin-top: 0px;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    header{
        height: 200px;
    }
    h2{
        text-align: center;
    }

    nav ul{
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    div.content, div.covidcon{
       width: 80%;
       display: flex;
       flex-flow: column;
       flex-wrap: nowrap;
    }

    /* div.cite a{
        margin-left: -20px;
    } */

    div.covidcon img, div.covidcon p{
         margin-left: 0px;
         margin-right: 0px;
         margin-top: 0px;
    }

    div.about img{
        margin-left: 0px;
    }

    img{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    a.storeweb{
        margin-left: 20px;
    }
    div.store img{
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 343px;
        /* max-width: 90%;
        max-height: 90% */
        /* flex-grow: 1; */
    }
     div.about{
        display: flex;
        flex-flow: column;
     }
     div.store{
        display: flex;
        flex-direction: column;
     }
     div.raffleimg{
        display: flex;
        flex-direction: column;
     }
     div.para{
         display: flex;
         flex-direction: column;
         font-size: 20px;
         width: 100%;
         margin-right: 100px;
     }
     div.centercont, div.covidcon{
         font-size: 20px;
         width: 90%;
         margin-right: auto;
         margin-left: auto;
     }
     header p{
         margin-left: auto;
         margin-right: auto;
     }
     div.store p{
         margin-left: 20px;
         margin-right:20px;
     }
     div.store h3{
         margin-left: auto;
         margin-right: auto;
     }
/* raffle */
    div#forms{
        margin-right: auto;
        margin-left: auto;
    }
 }

/* raffle css */

@media (max-width: 400px) {
    nav ul{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    div.centercont, div.covidcon,  div.content{
        margin-top: 100px;
    }
    div.store img{
        width: 400px;
        height: 274px;
    }
}
